server:
  port: 8083

spring:
  application:
    name: advisory-service
  datasource:
    url: ${DB_URL:jdbc:mysql://mysql:3306/asesorias?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USER:root}
    password: ${DB_PASS:Hola.123}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: always
      continue-on-error: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://eureka-server:8761/eureka}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
feign:
  httpclient:
    enabled: true
  okhttp:
    enabled: false

---
spring:
  config:
    activate:
      on-profile: no-eureka
eureka:
  client:
    enabled: false
